services:
  db:
    image: postgres:15
    container_name: subs_db
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5433:5432"
    volumes:
      - dbdata:/var/lib/postgresql/data
    networks:
      - subsnet

  app:
    build: .
    container_name: subs_app
    restart: unless-stopped
    env_file:
      - .env
    depends_on:
      - db
    ports:
      - "${APP_PORT}:${APP_PORT}"
    networks:
      - subsnet

volumes:
  dbdata:

networks:
  subsnet:
